<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hello World</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header id="templateHeader">
        <a href="https://www.greenriver.edu/">
            <img src="{{ url_for('static', filename='images/grclogo.png') }}">
        </a>
        <h1>GRC IT STUDENT HELPER</h1>
    </header>

    <div class="container">
        <div class="chatbox__support">
            <div class="chatbox__header">
                <div class="chatbox__content--header">
                    <h1 class="chatbox__heading--header">Chat support</h1>
                    <p class="chatbox__description--header">Hi. I am the IT Student Helper. How can I assist you today?</p>
                </div>
            </div>
            <div class="chatbox__messages">
                <div></div>
            </div>
            <div class="chatbox__footer">
                <input type="text" placeholder="Write a message...">
                <button class="chatbox__send--footer send__button">Send</button>
            </div>
        </div>
    </div>

    <div class="second-card-body">
        {{ second_card_body|safe }}
    </div>

    <div class="container">
        <div class="big-search">
            <div id="search">
                <form action="https://www.greenriver.edu/search">
                    <label class="sr-only" for="search-form">Enter Search terms:</label>
                    <input resultsUrl="search.php" type="search" id="search-form" name="q" value="" placeholder="Search..." />
                    <button type="submit" id="btnSearch"><span class="sr-only">Search</span></button>
                </form>
            </div>
        </div>
    </div>

    <script rel="text/javascript" src="{{ url_for('static', filename='app.js') }}"></script>
</body>
</html>
